<h1>apples under the tree</br>organic is the best</h1>
{#    <a class="btn btn-default" href="{% url 'index' %}">index</a>#}
{#    <a class="btn btn-default" href="{% url 'item_list' %}">all</a>#}
{#    <a class="btn btn-default" href="{% url 'item_new' %}">new</a>#}

<ul class="nav nav-tabs">
  <li role="presentation" class="active"><a href="{% url 'index' %}">index</a></li>
  <li role="presentation"><a href="{% url 'item_list' %}">all</a></li>
  <li role="presentation"><a href="{% url 'item_new' %}">new</a></li>
</ul>